services:
  scraper:
    build: .
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8081"]
    environment:
      - PYTHONPATH=/app
    container_name: scraper
    volumes:
      - .:/app
    ports:
      - "8081:8081"
    networks:
      - backend

networks:
  backend:
    external: true